<div class="ui-g ui-g-6">
  <div class="card">
    <div class="ui-g card-title">
      <strong>Task Edit</strong>
    </div>
    <div class="ui-md-6">
      <label>Title </label>
      <input pInputText type="text" [(ngModel)]="task.title" name="Title">
    </div>

    <div class="ui-md-6">
      <label>Content/Description</label>
      <input pInputText type="text" [(ngModel)]="task.content" name="Content">
    </div>

    <!-- <div class="ui-md-6">
      <label>Description </label>
      <input pInputText type="text" [(ngModel)]="task.description" name="Content">
    </div> -->

    <div class="ui-md-6">
      <label>Start Date </label>
      <p-calendar dateFormat="dd/mm/yy" readonlyInput="true" [monthNavigator]="true" [yearNavigator]="true" [(ngModel)]="task.startDate"
        name="StartDate" [utc]="true" required></p-calendar>
    </div>

    <div class="ui-md-6">
      <label>End Date </label>
      <p-calendar dateFormat="dd/mm/yy" readonlyInput="true" [monthNavigator]="true" [yearNavigator]="true" [(ngModel)]="task.endDate"
        name="EndDate" [utc]="true" required></p-calendar>
    </div>

    <div class="ui-md-6">
      <label>Status</label>
      <p-dropdown [options]="list" name="Status" [(ngModel)]="selectedStatus" required></p-dropdown>
    </div>
    <div class="ui-g-6">
      <p-button (onClick)="onSave()" label="Save"></p-button>
    </div>
    <div class="ui-g-6">
      <p-button (onClick)="onBack()" label="Back"></p-button>
    </div>
  </div>
</div>